In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd

In [2]:
df1 = pd.read_csv('all_seasons.csv')
df3 = pd.read_csv('NBA_Draft_1980_2017.tsv',sep='\t',encoding="ISO-8859-1")
df4 = pd.read_csv('nba-data-historical.csv',encoding="ISO-8859-1")
df8 = pd.read_csv('Seasons_Stats.csv')

In [3]:
df1.tail(15)

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
11130,11130,Marques Bolden,CLE,21.0,208.28,112.944408,None,USA,Undrafted,Undrafted,...,0.0,2.0,0.0,57.1,0.000,0.500,0.000,0.000,0.000,2019-20
11131,11131,Marquese Chriss,GSW,22.0,205.74,108.862080,Washington,USA,2016,1,...,9.3,6.1,1.9,-8.4,0.088,0.211,0.185,0.602,0.151,2019-20
11132,11132,Marvin Bagley III,SAC,20.0,210.82,106.594120,Duke,USA,2018,1,...,14.2,7.5,0.8,-12.6,0.082,0.201,0.248,0.512,0.050,2019-20
11133,11133,Marvin Williams,MIL,33.0,203.20,107.501304,North Carolina,USA,2005,1,...,6.2,2.8,1.0,-4.3,0.019,0.124,0.126,0.584,0.079,2019-20
11134,11134,Mason Plumlee,DEN,30.0,210.82,115.212368,Duke,USA,2013,1,...,7.4,5.4,2.4,1.3,0.094,0.196,0.177,0.619,0.201,2019-20
11135,11135,Matisse Thybulle,PHI,23.0,195.58,91.171992,Washington,USA,2019,1,...,4.6,1.5,1.2,1.2,0.031,0.047,0.111,0.522,0.085,2019-20
11136,11136,Matt Mooney,CLE,23.0,187.96,90.264808,Texas Tech,USA,Undrafted,Undrafted,...,0.7,0.3,0.3,7.7,0.000,0.250,0.111,0.500,0.200,2019-20
11137,11137,Matthew Dellavedova,CLE,29.0,190.50,90.718400,St. Mary's (CA),Australia,Undrafted,Undrafted,...,2.8,1.3,2.9,-0.9,0.024,0.069,0.129,0.445,0.292,2019-20
11138,11138,Maurice Harkless,NYK,26.0,200.66,99.790240,"St. John's, N.Y.",USA,2012,1,...,5.7,3.9,1.0,1.9,0.038,0.119,0.104,0.575,0.059,2019-20
11139,11139,Max Strus,CHI,23.0,195.58,97.522280,None,USA,Undrafted,Undrafted,...,2.5,0.5,0.0,105.8,0.167,0.000,0.158,0.727,0.000,2019-20
11140,11140,Maxi Kleber,DAL,28.0,208.28,108.862080,None,Germany,Undrafted,Undrafted,...,9.1,5.4,1.1,4.6,0.056,0.140,0.136,0.605,0.064,2019-20
11141,11141,Melvin Frazier Jr.,ORL,23.0,195.58,97.522280,Tulane,USA,2018,2,...,1.2,0.3,0.1,-2.4,0.018,0.058,0.164,0.480,0.033,2019-20
11142,11142,Meyers Leonard,MIA,28.0,213.36,117.933920,Illinois,USA,2012,1,...,6.1,5.1,1.1,5.6,0.029,0.217,0.120,0.640,0.076,2019-20
11143,11143,Norvel Pelle,PHI,27.0,208.28,104.779752,None,USA,Undrafted,Undrafted,...,2.1,3.0,0.4,-16.4,0.085,0.237,0.126,0.521,0.056,2019-20
11144,11144,Matt Thomas,TOR,25.0,193.04,86.182480,Iowa State,USA,Undrafted,Undrafted,...,4.5,1.4,0.5,1.0,0.017,0.104,0.149,0.663,0.089,2019-20

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11145 entries, 0 to 11144
Data columns (total 22 columns):
Unnamed: 0           11145 non-null int64
player_name          11145 non-null object
team_abbreviation    11145 non-null object
age                  11145 non-null float64
player_height        11145 non-null float64
player_weight        11145 non-null float64
college              11145 non-null object
country              11145 non-null object
draft_year           11145 non-null object
draft_round          11145 non-null object
draft_number         11145 non-null object
gp                   11145 non-null int64
pts                  11145 non-null float64
reb                  11145 non-null float64
ast                  11145 non-null float64
net_rating           11145 non-null float64
oreb_pct             11145 non-null float64
dreb_pct             11145 non-null float64
usg_pct              11145 non-null float64
ts_pct               11145 non-null float64
ast_pct              11145 non-null float64
season               11145 non-null object
dtypes: float64(12), int64(2), object(8)
memory usage: 1.9+ MB

In [5]:
df1.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
df4.head()

,player_id,name_common,year_id,age,pos,team_id,tmRtg,franch_id,G,Min,...,STL%,BLK%,ORtg,%Pos,DRtg,2P%,3P%,FT%,3PAr,FTAr
0,youngtr01,Trae Young,2020,21,PG,ATL,-7.6,ATL,60,2120,...,1.4,0.3,113.6,36.1,117.2,50.1,36.1,86.0,45.5,44.8
1,huntede01,De'Andre Hunter,2020,22,SF,ATL,-7.6,ATL,63,2018,...,1.0,0.7,99.5,16.9,117.3,45.4,35.5,76.4,44.5,21.1
2,huertke01,Kevin Huerter,2020,21,SG,ATL,-7.6,ATL,56,1760,...,1.4,1.3,107.1,17.2,116.5,45.3,38.0,82.8,54.8,10.5
3,reddica01,Cam Reddish,2020,20,SF,ATL,-7.6,ATL,58,1551,...,1.9,1.5,94.7,18.3,115.0,42.8,33.2,80.2,45.1,22.7
4,collijo01,John Collins,2020,22,PF,ATL,-7.6,ATL,41,1363,...,1.1,4.1,123.7,21.6,112.2,64.2,40.1,80.0,24.3,24.8

In [7]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20059 entries, 0 to 20058
Data columns (total 40 columns):
player_id      20059 non-null object
name_common    20059 non-null object
year_id        20059 non-null int64
age            20059 non-null int64
pos            20059 non-null object
team_id        20059 non-null object
tmRtg          20059 non-null float64
franch_id      20059 non-null object
G              20059 non-null int64
Min            20059 non-null int64
MP%            20059 non-null float64
MPG            20059 non-null float64
P/36           20054 non-null float64
TS%            19964 non-null float64
A/36           20054 non-null float64
R/36           20054 non-null float64
SB/36          20054 non-null float64
TO/36          20054 non-null float64
Raptor O       20059 non-null float64
Raptor D       20059 non-null float64
Raptor+/-      20059 non-null float64
Raptor WAR     20059 non-null float64
PIE%           20054 non-null float64
AWS%           20054 non-null float64
USG%           20059 non-null float64
AST%           20059 non-null float64
TOV%           20034 non-null float64
ORB%           20059 non-null float64
DRB%           20059 non-null float64
TRB%           20059 non-null float64
STL%           20059 non-null float64
BLK%           20059 non-null float64
ORtg           20040 non-null float64
%Pos           20045 non-null float64
DRtg           20059 non-null float64
2P%            19894 non-null float64
3P%            15717 non-null float64
FT%            19182 non-null float64
3PAr           19952 non-null float64
FTAr           19952 non-null float64
dtypes: float64(31), int64(4), object(5)
memory usage: 6.1+ MB

In [8]:
df1.columns

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [9]:
df4.columns

Index(['player_id', 'name_common', 'year_id', 'age', 'pos', 'team_id', 'tmRtg',
       'franch_id', 'G', 'Min', 'MP%', 'MPG', 'P/36', 'TS%', 'A/36', 'R/36',
       'SB/36', 'TO/36', 'Raptor O', 'Raptor D', 'Raptor+/-', 'Raptor WAR',
       'PIE%', 'AWS%', 'USG%', 'AST%', 'TOV%', 'ORB%', 'DRB%', 'TRB%', 'STL%',
       'BLK%', 'ORtg', '%Pos', 'DRtg', '2P%', '3P%', 'FT%', '3PAr', 'FTAr'],
      dtype='object')

In [10]:
df1.season.unique()

array(['1996-97', '1997-98', '1998-99', '1999-00', '2000-01', '2001-02',
       '2002-03', '2003-04', '2004-05', '2005-06', '2006-07', '2007-08',
       '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
       '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20'],
      dtype=object)

In [11]:
df4.year_id.unique()

array([2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988,
       1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977])

In [12]:
df9 = df4[['player_id', 'name_common', 'year_id', 'age', 'pos', 'team_id', 'tmRtg',
       'franch_id', 'G', 'Min', 'MP%', 'MPG', 'P/36', 'TS%', 'A/36', 'R/36',
       'SB/36', 'TO/36', 'Raptor O', 'Raptor D', 'Raptor+/-', 'Raptor WAR',
       'PIE%', 'AWS%', 'USG%', 'AST%', 'TOV%', 'ORB%', 'DRB%', 'TRB%', 'STL%',
       'BLK%', 'ORtg', '%Pos', 'DRtg', '2P%', '3P%', 'FT%', '3PAr', 'FTAr']]

In [13]:
df1.columns

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [14]:
df8['PPG']=df8['PTS']/df8['G']
df8['RPG']=df8['TRB']/df8['G']
df8['APG']=df8['AST']/df8['G']
df8['SPG']=df8['STL']/df8['G']
df8['BPG']=df8['BLK']/df8['G']
df8['TPG']=df8['TOV']/df8['G']
df8['FPG']=df8['PF']/df8['G']

In [15]:
df8.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,PPG,RPG,APG,SPG,BPG,TPG,FPG
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,217.0,458.0,7.269841,NaN,2.793651,NaN,NaN,NaN,3.444444
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,99.0,279.0,5.693878,NaN,2.224490,NaN,NaN,NaN,2.020408
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,NaN,192.0,438.0,6.537313,NaN,2.089552,NaN,NaN,NaN,2.865672
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,NaN,29.0,63.0,4.200000,NaN,1.333333,NaN,NaN,NaN,1.933333
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,NaN,27.0,59.0,4.538462,NaN,1.538462,NaN,NaN,NaN,2.076923

In [16]:
df8.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PPG', 'RPG', 'APG', 'SPG',
       'BPG', 'TPG', 'FPG'],
      dtype='object')

In [17]:
df3.head()

   year  round  pick              player position        school
0  1980      1   1.0  Carroll, Joe Barry      F/C        Purdue
1  1980      1   2.0   Griffith, Darrell        G    Louisville
2  1980      1   3.0       McHale, Kevin      F/C     Minnesota
3  1980      1   4.0      Ransey, Kelvin        G    Ohio State
4  1980      1   5.0          Ray, James        F  Jacksonville

In [18]:
' '.join(df3.player[0].split(',')[::-1]).strip()

'Joe Barry Carroll'

In [19]:
df3['play']=None
for i in range(len(df3)):
    df3['play'][i]=' '.join(df3.player[i].split(',')[::-1]).strip()

In [20]:
df3['play'][0]

'Joe Barry Carroll'

In [21]:
df1.columns

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [22]:
player_height_dict = {}
player_weight_dict = {}
player_college_dict = {}
player_draft_year_dict = {}
player_draft_pick_dict = {}
player_draft_round_dict = {}
player_country_dict = {}

In [23]:
for i in range(len(df1)):
    player_height_dict[df1.player_name[i]]=df1.player_height[i]

In [24]:
list(player_height_dict.items())[0:5]

[('Dennis Rodman', 200.66),
 ('Dwayne Schintzius', 218.44),
 ('Earl Cureton', 205.74),
 ("Ed O'Bannon", 203.2),
 ('Ed Pinckney', 205.74)]

In [25]:
for i in range(len(df1)):
    player_weight_dict[df1.player_name[i]]=df1.player_weight[i]

In [26]:
list(player_weight_dict.items())[0:5]

[('Dennis Rodman', 95.25431999999999),
 ('Dwayne Schintzius', 129.27372),
 ('Earl Cureton', 95.25431999999999),
 ("Ed O'Bannon", 100.697424),
 ('Ed Pinckney', 108.86208)]

In [27]:
for i in range(len(df1)):
    player_college_dict[df1.player_name[i]]=df1.college[i]

In [28]:
list(player_college_dict.items())[0:5]

[('Dennis Rodman', 'Southeastern Oklahoma State'),
 ('Dwayne Schintzius', 'Florida'),
 ('Earl Cureton', 'Detroit Mercy'),
 ("Ed O'Bannon", 'UCLA'),
 ('Ed Pinckney', 'Villanova')]

In [29]:
for i in range(len(df3)):
    if df3.player[i] not in player_college_dict.keys():
        player_college_dict[df3.player[i]]=df3.school[i]

In [30]:
for i in range(len(df1)):
    player_draft_year_dict[df1.player_name[i]]=df1.draft_year[i]

In [31]:
for i in range(len(df3)):
    if df3.player[i] not in player_draft_year_dict.keys():
        player_draft_year_dict[df3.player[i]]=df3.year[i]

In [32]:
for i in range(len(df1)):
    player_draft_pick_dict[df1.player_name[i]]=df1.draft_number[i]
for i in range(len(df3)):
    if df3.player[i] not in player_draft_pick_dict.keys():
        player_draft_pick_dict[df3.player[i]]=df3.pick[i]

In [33]:
for i in range(len(df1)):
    player_draft_round_dict[df1.player_name[i]]=df1.draft_round[i]
for i in range(len(df3)):
    if df3.player[i] not in player_draft_round_dict.keys():
        player_draft_round_dict[df3.player[i]]=df3['round'][i]

In [34]:
for i in range(len(df1)):
    player_country_dict[df1.player_name[i]]=df1.country[i]

In [35]:
df8.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PPG', 'RPG', 'APG', 'SPG',
       'BPG', 'TPG', 'FPG'],
      dtype='object')

In [36]:
df1.columns

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [37]:
df1.head()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,Dennis Rodman,CHI,36.0,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,27,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,Dwayne Schintzius,LAC,28.0,215.90,117.933920,Florida,USA,1990,1,24,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,Earl Cureton,TOR,39.0,205.74,95.254320,Detroit Mercy,USA,1979,3,58,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,Ed O'Bannon,DAL,24.0,203.20,100.697424,UCLA,USA,1995,1,9,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,Ed Pinckney,MIA,34.0,205.74,108.862080,Villanova,USA,1985,1,10,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97

In [38]:
df4.head()

,player_id,name_common,year_id,age,pos,team_id,tmRtg,franch_id,G,Min,...,STL%,BLK%,ORtg,%Pos,DRtg,2P%,3P%,FT%,3PAr,FTAr
0,youngtr01,Trae Young,2020,21,PG,ATL,-7.6,ATL,60,2120,...,1.4,0.3,113.6,36.1,117.2,50.1,36.1,86.0,45.5,44.8
1,huntede01,De'Andre Hunter,2020,22,SF,ATL,-7.6,ATL,63,2018,...,1.0,0.7,99.5,16.9,117.3,45.4,35.5,76.4,44.5,21.1
2,huertke01,Kevin Huerter,2020,21,SG,ATL,-7.6,ATL,56,1760,...,1.4,1.3,107.1,17.2,116.5,45.3,38.0,82.8,54.8,10.5
3,reddica01,Cam Reddish,2020,20,SF,ATL,-7.6,ATL,58,1551,...,1.9,1.5,94.7,18.3,115.0,42.8,33.2,80.2,45.1,22.7
4,collijo01,John Collins,2020,22,PF,ATL,-7.6,ATL,41,1363,...,1.1,4.1,123.7,21.6,112.2,64.2,40.1,80.0,24.3,24.8

In [39]:
df8.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,PPG,RPG,APG,SPG,BPG,TPG,FPG
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,NaN,217.0,458.0,7.269841,NaN,2.793651,NaN,NaN,NaN,3.444444
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,NaN,99.0,279.0,5.693878,NaN,2.224490,NaN,NaN,NaN,2.020408
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,NaN,192.0,438.0,6.537313,NaN,2.089552,NaN,NaN,NaN,2.865672
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,NaN,29.0,63.0,4.200000,NaN,1.333333,NaN,NaN,NaN,1.933333
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,NaN,27.0,59.0,4.538462,NaN,1.538462,NaN,NaN,NaN,2.076923

In [40]:
df8[df8.Year == 1980].head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,PPG,RPG,APG,SPG,BPG,TPG,FPG
5727,5727,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82.0,NaN,3143.0,25.3,...,297.0,216.0,2034.0,24.804878,10.804878,4.524390,0.987805,3.414634,3.621951,2.634146
5728,5728,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,NaN,1222.0,11.0,...,39.0,118.0,362.0,5.402985,2.850746,1.298507,0.522388,0.179104,0.582090,1.761194
5729,5729,1980.0,Alvan Adams,C,25.0,PHO,75.0,NaN,2168.0,19.2,...,218.0,237.0,1118.0,14.906667,8.120000,4.293333,1.440000,0.733333,2.906667,3.160000
5730,5730,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,80.0,2864.0,15.3,...,242.0,218.0,1131.0,14.137500,2.462500,8.387500,1.325000,0.125000,3.025000,2.725000
5731,5731,1980.0,Dennis Awtrey,C,31.0,CHI,26.0,NaN,560.0,7.4,...,27.0,66.0,86.0,3.307692,4.423077,1.538462,0.461538,0.576923,1.038462,2.538462

In [41]:
df8.Player[0][0:-1].endswith('*')==True

False

In [42]:
df8.Player=df8.Player.astype(str)

In [43]:
for i in range(len(df8)):
    if df8.Player[i].endswith('*')==True:
        df8.Player[i]=df8.Player[i][0:-1]

In [44]:
df8.Year.fillna(0,inplace=True)

In [45]:
df8[df8.Year == 1980].head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TOV,PF,PTS,PPG,RPG,APG,SPG,BPG,TPG,FPG
5727,5727,1980.0,Kareem Abdul-Jabbar,C,32.0,LAL,82.0,NaN,3143.0,25.3,...,297.0,216.0,2034.0,24.804878,10.804878,4.524390,0.987805,3.414634,3.621951,2.634146
5728,5728,1980.0,Tom Abernethy,PF,25.0,GSW,67.0,NaN,1222.0,11.0,...,39.0,118.0,362.0,5.402985,2.850746,1.298507,0.522388,0.179104,0.582090,1.761194
5729,5729,1980.0,Alvan Adams,C,25.0,PHO,75.0,NaN,2168.0,19.2,...,218.0,237.0,1118.0,14.906667,8.120000,4.293333,1.440000,0.733333,2.906667,3.160000
5730,5730,1980.0,Tiny Archibald,PG,31.0,BOS,80.0,80.0,2864.0,15.3,...,242.0,218.0,1131.0,14.137500,2.462500,8.387500,1.325000,0.125000,3.025000,2.725000
5731,5731,1980.0,Dennis Awtrey,C,31.0,CHI,26.0,NaN,560.0,7.4,...,27.0,66.0,86.0,3.307692,4.423077,1.538462,0.461538,0.576923,1.038462,2.538462

In [46]:
df8.Year = df8.Year.astype(int)

In [47]:
df1.season[11113].split('-')[1]

'20'

In [48]:
for i in range(len(df1)):
    if int(df1.season[i].split('-')[1]) > 20:
        df1.season[i] = '19'+''+df1.season[i].split('-')[1]
    else:
        df1.season[i] = '20'+''+df1.season[i].split('-')[1]

In [49]:
df1.season=df1.season.astype(int)

In [50]:
df1.tail()

,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
11140,Maxi Kleber,DAL,28.0,208.28,108.862080,None,Germany,Undrafted,Undrafted,Undrafted,...,9.1,5.4,1.1,4.6,0.056,0.140,0.136,0.605,0.064,2020
11141,Melvin Frazier Jr.,ORL,23.0,195.58,97.522280,Tulane,USA,2018,2,35,...,1.2,0.3,0.1,-2.4,0.018,0.058,0.164,0.480,0.033,2020
11142,Meyers Leonard,MIA,28.0,213.36,117.933920,Illinois,USA,2012,1,11,...,6.1,5.1,1.1,5.6,0.029,0.217,0.120,0.640,0.076,2020
11143,Norvel Pelle,PHI,27.0,208.28,104.779752,None,USA,Undrafted,Undrafted,Undrafted,...,2.1,3.0,0.4,-16.4,0.085,0.237,0.126,0.521,0.056,2020
11144,Matt Thomas,TOR,25.0,193.04,86.182480,Iowa State,USA,Undrafted,Undrafted,Undrafted,...,4.5,1.4,0.5,1.0,0.017,0.104,0.149,0.663,0.089,2020

In [51]:
df1.columns

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [52]:
df4.columns

Index(['player_id', 'name_common', 'year_id', 'age', 'pos', 'team_id', 'tmRtg',
       'franch_id', 'G', 'Min', 'MP%', 'MPG', 'P/36', 'TS%', 'A/36', 'R/36',
       'SB/36', 'TO/36', 'Raptor O', 'Raptor D', 'Raptor+/-', 'Raptor WAR',
       'PIE%', 'AWS%', 'USG%', 'AST%', 'TOV%', 'ORB%', 'DRB%', 'TRB%', 'STL%',
       'BLK%', 'ORtg', '%Pos', 'DRtg', '2P%', '3P%', 'FT%', '3PAr', 'FTAr'],
      dtype='object')

In [53]:
df8.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PPG', 'RPG', 'APG', 'SPG',
       'BPG', 'TPG', 'FPG'],
      dtype='object')

In [54]:
df8.Year.tail()

24686    2017
24687    2017
24688    2017
24689    2017
24690    2017
Name: Year, dtype: int64

In [55]:
# so it looks like I first need to add the new information not in df 8 from df 1 and then I can combine df 8 with df 4

In [56]:
df1.columns

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [57]:
df8.columns

Index(['Unnamed: 0', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP',
       'PER', 'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%',
       'BLK%', 'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2',
       'OBPM', 'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%',
       '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB',
       'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'PPG', 'RPG', 'APG', 'SPG',
       'BPG', 'TPG', 'FPG'],
      dtype='object')

In [58]:
df8.drop(['Unnamed: 0','AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS','TRB'],axis=1,inplace=True)

In [59]:
df8.columns

Index(['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'PPG', 'RPG', 'APG',
       'SPG', 'BPG', 'TPG', 'FPG'],
      dtype='object')

In [60]:
for col in ['age', 'player_height','player_weight', 'college', 
            'country', 'draft_year', 'draft_round','draft_number']:
    df8[col]=None

In [61]:
df8.columns

Index(['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'PPG', 'RPG', 'APG',
       'SPG', 'BPG', 'TPG', 'FPG', 'age', 'player_height', 'player_weight',
       'college', 'country', 'draft_year', 'draft_round', 'draft_number'],
      dtype='object')

In [62]:
df1.columns

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [63]:
df1=df1[df1.season>2017]

In [64]:
df4.head()

,player_id,name_common,year_id,age,pos,team_id,tmRtg,franch_id,G,Min,...,STL%,BLK%,ORtg,%Pos,DRtg,2P%,3P%,FT%,3PAr,FTAr
0,youngtr01,Trae Young,2020,21,PG,ATL,-7.6,ATL,60,2120,...,1.4,0.3,113.6,36.1,117.2,50.1,36.1,86.0,45.5,44.8
1,huntede01,De'Andre Hunter,2020,22,SF,ATL,-7.6,ATL,63,2018,...,1.0,0.7,99.5,16.9,117.3,45.4,35.5,76.4,44.5,21.1
2,huertke01,Kevin Huerter,2020,21,SG,ATL,-7.6,ATL,56,1760,...,1.4,1.3,107.1,17.2,116.5,45.3,38.0,82.8,54.8,10.5
3,reddica01,Cam Reddish,2020,20,SF,ATL,-7.6,ATL,58,1551,...,1.9,1.5,94.7,18.3,115.0,42.8,33.2,80.2,45.1,22.7
4,collijo01,John Collins,2020,22,PF,ATL,-7.6,ATL,41,1363,...,1.1,4.1,123.7,21.6,112.2,64.2,40.1,80.0,24.3,24.8

In [65]:
df4.columns

Index(['player_id', 'name_common', 'year_id', 'age', 'pos', 'team_id', 'tmRtg',
       'franch_id', 'G', 'Min', 'MP%', 'MPG', 'P/36', 'TS%', 'A/36', 'R/36',
       'SB/36', 'TO/36', 'Raptor O', 'Raptor D', 'Raptor+/-', 'Raptor WAR',
       'PIE%', 'AWS%', 'USG%', 'AST%', 'TOV%', 'ORB%', 'DRB%', 'TRB%', 'STL%',
       'BLK%', 'ORtg', '%Pos', 'DRtg', '2P%', '3P%', 'FT%', '3PAr', 'FTAr'],
      dtype='object')

In [66]:
df4['P/36'][0]*36/df4['MPG'][0]

29.88101983002833

In [67]:
df4['PPG']=0
for i in range(len(df4)):
    df4['PPG'][i]=float(df4['P/36'][i]*36/df4['MPG'][i])

In [68]:
df4.head()

,player_id,name_common,year_id,age,pos,team_id,tmRtg,franch_id,G,Min,...,BLK%,ORtg,%Pos,DRtg,2P%,3P%,FT%,3PAr,FTAr,PPG
0,youngtr01,Trae Young,2020,21,PG,ATL,-7.6,ATL,60,2120,...,0.3,113.6,36.1,117.2,50.1,36.1,86.0,45.5,44.8,29.0
1,huntede01,De'Andre Hunter,2020,22,SF,ATL,-7.6,ATL,63,2018,...,0.7,99.5,16.9,117.3,45.4,35.5,76.4,44.5,21.1,15.0
2,huertke01,Kevin Huerter,2020,21,SG,ATL,-7.6,ATL,56,1760,...,1.3,107.1,17.2,116.5,45.3,38.0,82.8,54.8,10.5,15.0
3,reddica01,Cam Reddish,2020,20,SF,ATL,-7.6,ATL,58,1551,...,1.5,94.7,18.3,115.0,42.8,33.2,80.2,45.1,22.7,18.0
4,collijo01,John Collins,2020,22,PF,ATL,-7.6,ATL,41,1363,...,4.1,123.7,21.6,112.2,64.2,40.1,80.0,24.3,24.8,24.0

In [69]:
# ok, so now I am going to merge df1 and df8 and then merge df4 to that data frame

In [70]:
len(df8.columns)

60

In [71]:
len(df1.columns)

21

In [72]:
df4.columns

Index(['player_id', 'name_common', 'year_id', 'age', 'pos', 'team_id', 'tmRtg',
       'franch_id', 'G', 'Min', 'MP%', 'MPG', 'P/36', 'TS%', 'A/36', 'R/36',
       'SB/36', 'TO/36', 'Raptor O', 'Raptor D', 'Raptor+/-', 'Raptor WAR',
       'PIE%', 'AWS%', 'USG%', 'AST%', 'TOV%', 'ORB%', 'DRB%', 'TRB%', 'STL%',
       'BLK%', 'ORtg', '%Pos', 'DRtg', '2P%', '3P%', 'FT%', '3PAr', 'FTAr',
       'PPG'],
      dtype='object')

In [73]:
df1.columns

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [74]:
df8.columns

Index(['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'PPG', 'RPG', 'APG',
       'SPG', 'BPG', 'TPG', 'FPG', 'age', 'player_height', 'player_weight',
       'college', 'country', 'draft_year', 'draft_round', 'draft_number'],
      dtype='object')

In [75]:
col_lst=[]
for col in df4.columns:
    if col not in df1.columns:
        col_lst.append(col)

In [76]:
col_lst_2=[]
for col in df8.columns:
    if col not in df1.columns:
        col_lst_2.append(col)

In [77]:
df1.columns

Index(['player_name', 'team_abbreviation', 'age', 'player_height',
       'player_weight', 'college', 'country', 'draft_year', 'draft_round',
       'draft_number', 'gp', 'pts', 'reb', 'ast', 'net_rating', 'oreb_pct',
       'dreb_pct', 'usg_pct', 'ts_pct', 'ast_pct', 'season'],
      dtype='object')

In [78]:
df8.columns

Index(['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'PPG', 'RPG', 'APG',
       'SPG', 'BPG', 'TPG', 'FPG', 'age', 'player_height', 'player_weight',
       'college', 'country', 'draft_year', 'draft_round', 'draft_number'],
      dtype='object')

In [79]:
for col in col_lst_2:
    df1[col]=None

In [80]:
df1=df1[['season', 'player_name', 'Pos', 'age', 'team_abbreviation', 'G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'PPG', 'RPG', 'APG',
       'SPG', 'BPG', 'TPG', 'FPG', 'age', 'player_height', 'player_weight',
       'college', 'country', 'draft_year', 'draft_round', 'draft_number']]

In [81]:
df1.head()

,season,player_name,Pos,age,team_abbreviation,G,GS,MP,PER,TS%,...,TPG,FPG,age,player_height,player_weight,college,country,draft_year,draft_round,draft_number
9561,2018,Harrison Barnes,None,26.0,DAL,None,None,None,None,None,...,None,None,26.0,203.20,102.05820,North Carolina,USA,2012,1,7
9562,2018,Eric Gordon,None,29.0,HOU,None,None,None,None,None,...,None,None,29.0,193.04,97.52228,Indiana,USA,2008,1,7
9563,2018,Eric Bledsoe,None,28.0,MIL,None,None,None,None,None,...,None,None,28.0,185.42,92.98636,Kentucky,USA,2010,1,18
9564,2018,Enes Kanter,None,26.0,NYK,None,None,None,None,None,...,None,None,26.0,210.82,111.13004,,Turkey,2011,1,3
9565,2018,Emmanuel Mudiay,None,22.0,NYK,None,None,None,None,None,...,None,None,22.0,195.58,90.71840,None,Democratic Republic of the Congo,2015,1,7

In [82]:
df1.columns=df8.columns

In [83]:
df1.columns

Index(['Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER', 'TS%',
       '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%',
       'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'PPG', 'RPG', 'APG',
       'SPG', 'BPG', 'TPG', 'FPG', 'age', 'player_height', 'player_weight',
       'college', 'country', 'draft_year', 'draft_round', 'draft_number'],
      dtype='object')

In [84]:
df1.drop('age',axis=1,inplace=True)
df8.drop('age',axis=1,inplace=True)

In [85]:
first_concat=pd.concat([df8,df1])

In [86]:
first_concat.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,BPG,TPG,FPG,player_height,player_weight,college,country,draft_year,draft_round,draft_number
0,1950,Curly Armstrong,G-F,31.0,FTW,63,NaN,NaN,NaN,0.368,...,NaN,NaN,3.44444,None,None,None,None,None,None,None
1,1950,Cliff Barker,SG,29.0,INO,49,NaN,NaN,NaN,0.435,...,NaN,NaN,2.02041,None,None,None,None,None,None,None
2,1950,Leo Barnhorst,SF,25.0,CHS,67,NaN,NaN,NaN,0.394,...,NaN,NaN,2.86567,None,None,None,None,None,None,None
3,1950,Ed Bartels,F,24.0,TOT,15,NaN,NaN,NaN,0.312,...,NaN,NaN,1.93333,None,None,None,None,None,None,None
4,1950,Ed Bartels,F,24.0,DNN,13,NaN,NaN,NaN,0.308,...,NaN,NaN,2.07692,None,None,None,None,None,None,None

In [87]:
first_concat=first_concat[first_concat.Year>=1980]

In [88]:
first_concat.reset_index(inplace=True)

In [89]:
first_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20511 entries, 0 to 20510
Data columns (total 60 columns):
index            20511 non-null int64
Year             20511 non-null int64
Player           20511 non-null object
Pos              18927 non-null object
Age              20511 non-null float64
Tm               20511 non-null object
G                18927 non-null object
GS               18233 non-null object
MP               18927 non-null object
PER              18922 non-null object
TS%              18851 non-null object
3PAr             18839 non-null object
FTr              18839 non-null object
ORB%             18922 non-null object
DRB%             18922 non-null object
TRB%             18922 non-null object
AST%             18922 non-null object
STL%             18922 non-null object
BLK%             18922 non-null object
TOV%             18866 non-null object
USG%             18922 non-null object
blanl            0 non-null object
OWS              18927 non-null object
DWS              18927 non-null object
WS               18927 non-null object
WS/48            18922 non-null object
blank2           0 non-null object
OBPM             18927 non-null object
DBPM             18927 non-null object
BPM              18927 non-null object
VORP             18927 non-null object
FG               18927 non-null object
FGA              18927 non-null object
FG%              18839 non-null object
3P               18927 non-null object
3PA              18927 non-null object
3P%              15416 non-null object
2P               18927 non-null object
2PA              18927 non-null object
2P%              18810 non-null object
eFG%             18839 non-null object
FT               18927 non-null object
FTA              18927 non-null object
FT%              18182 non-null object
ORB              18927 non-null object
DRB              18927 non-null object
PPG              18927 non-null object
RPG              18927 non-null object
APG              18927 non-null object
SPG              18927 non-null object
BPG              18927 non-null object
TPG              18927 non-null object
FPG              18927 non-null object
player_height    1584 non-null object
player_weight    1584 non-null object
college          1584 non-null object
country          1584 non-null object
draft_year       1584 non-null object
draft_round      1584 non-null object
draft_number     1584 non-null object
dtypes: float64(1), int64(2), object(57)
memory usage: 9.4+ MB

In [90]:
first_concat.head()

,index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,BPG,TPG,FPG,player_height,player_weight,college,country,draft_year,draft_round,draft_number
0,5727,1980,Kareem Abdul-Jabbar,C,32.0,LAL,82,NaN,3143,25.3,...,3.41463,3.62195,2.63415,None,None,None,None,None,None,None
1,5728,1980,Tom Abernethy,PF,25.0,GSW,67,NaN,1222,11,...,0.179104,0.58209,1.76119,None,None,None,None,None,None,None
2,5729,1980,Alvan Adams,C,25.0,PHO,75,NaN,2168,19.2,...,0.733333,2.90667,3.16,None,None,None,None,None,None,None
3,5730,1980,Tiny Archibald,PG,31.0,BOS,80,80,2864,15.3,...,0.125,3.025,2.725,None,None,None,None,None,None,None
4,5731,1980,Dennis Awtrey,C,31.0,CHI,26,NaN,560,7.4,...,0.576923,1.03846,2.53846,None,None,None,None,None,None,None

In [91]:
first_concat['Player'][0].split()[0]+' '+first_concat['Player'][0].split()[1][0:-1]

'Kareem Abdul-Jabba'

In [92]:
first_concat['Player'][0].split()[1][0:-1]

'Abdul-Jabba'

In [93]:
first_concat['Player'][0].split()[1].endswith('*')

False

In [94]:
first_concat.index

RangeIndex(start=0, stop=20511, step=1)

In [95]:
first_concat.tail()

,index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,BPG,TPG,FPG,player_height,player_weight,college,country,draft_year,draft_round,draft_number
20506,11140,2020,Maxi Kleber,None,28.0,DAL,None,None,None,None,...,None,None,None,208.28,108.862,None,Germany,Undrafted,Undrafted,Undrafted
20507,11141,2020,Melvin Frazier Jr.,None,23.0,ORL,None,None,None,None,...,None,None,None,195.58,97.5223,Tulane,USA,2018,2,35
20508,11142,2020,Meyers Leonard,None,28.0,MIA,None,None,None,None,...,None,None,None,213.36,117.934,Illinois,USA,2012,1,11
20509,11143,2020,Norvel Pelle,None,27.0,PHI,None,None,None,None,...,None,None,None,208.28,104.78,None,USA,Undrafted,Undrafted,Undrafted
20510,11144,2020,Matt Thomas,None,25.0,TOR,None,None,None,None,...,None,None,None,193.04,86.1825,Iowa State,USA,Undrafted,Undrafted,Undrafted

In [96]:
dict_lst=['player_height_dict','player_weight_dict','player_college_dict','player_draft_year_dict','player_draft_pick_dict',       
          'player_draft_round_dict','player_country_dict']

In [97]:
for i in range(len(first_concat)):
    if first_concat.player_height[i]==None and first_concat.Player[i] in player_height_dict.keys():
        first_concat.player_height[i]=player_height_dict[first_concat.Player[i]]

In [98]:
for i in range(len(first_concat)):
    if first_concat.player_weight[i]==None and first_concat.Player[i] in player_weight_dict.keys():
        first_concat.player_weight[i]=player_weight_dict[first_concat.Player[i]]

In [99]:
first_concat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20511 entries, 0 to 20510
Data columns (total 60 columns):
index            20511 non-null int64
Year             20511 non-null int64
Player           20511 non-null object
Pos              18927 non-null object
Age              20511 non-null float64
Tm               20511 non-null object
G                18927 non-null object
GS               18233 non-null object
MP               18927 non-null object
PER              18922 non-null object
TS%              18851 non-null object
3PAr             18839 non-null object
FTr              18839 non-null object
ORB%             18922 non-null object
DRB%             18922 non-null object
TRB%             18922 non-null object
AST%             18922 non-null object
STL%             18922 non-null object
BLK%             18922 non-null object
TOV%             18866 non-null object
USG%             18922 non-null object
blanl            0 non-null object
OWS              18927 non-null object
DWS              18927 non-null object
WS               18927 non-null object
WS/48            18922 non-null object
blank2           0 non-null object
OBPM             18927 non-null object
DBPM             18927 non-null object
BPM              18927 non-null object
VORP             18927 non-null object
FG               18927 non-null object
FGA              18927 non-null object
FG%              18839 non-null object
3P               18927 non-null object
3PA              18927 non-null object
3P%              15416 non-null object
2P               18927 non-null object
2PA              18927 non-null object
2P%              18810 non-null object
eFG%             18839 non-null object
FT               18927 non-null object
FTA              18927 non-null object
FT%              18182 non-null object
ORB              18927 non-null object
DRB              18927 non-null object
PPG              18927 non-null object
RPG              18927 non-null object
APG              18927 non-null object
SPG              18927 non-null object
BPG              18927 non-null object
TPG              18927 non-null object
FPG              18927 non-null object
player_height    15581 non-null object
player_weight    15581 non-null object
college          1584 non-null object
country          1584 non-null object
draft_year       1584 non-null object
draft_round      1584 non-null object
draft_number     1584 non-null object
dtypes: float64(1), int64(2), object(57)
memory usage: 9.4+ MB

In [100]:
for i in range(len(first_concat)):
    if first_concat.draft_year[i]=='Undrafted':
        first_concat.draft_year[i]=0

In [101]:
first_concat.draft_year.fillna(0,inplace=True)

In [102]:
first_concat.draft_year=first_concat.draft_year.astype(int)

In [103]:
first_concat[(first_concat.Year>1990)&(first_concat.draft_year==0)].head()

,index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,BPG,TPG,FPG,player_height,player_weight,college,country,draft_year,draft_round,draft_number
4269,10007,1991,Alaa Abdelnaby,PF,22.0,POR,43,0,290,13.1,...,0.27907,0.511628,0.906977,None,None,None,None,0,None,None
4270,10008,1991,Mahmoud Abdul-Rauf,PG,21.0,DEN,67,19,1505,12.2,...,0.0597015,1.64179,2.22388,185.42,73.4819,None,None,0,None,None
4271,10009,1991,Mark Acres,C,28.0,ORL,68,0,1313,9.2,...,0.367647,0.617647,3.20588,None,None,None,None,0,None,None
4272,10010,1991,Michael Adams,PG,28.0,DEN,66,66,2346,22.3,...,0.0909091,3.63636,2.45455,None,None,None,None,0,None,None
4273,10011,1991,Mark Aguirre,SF,31.0,DET,78,13,2006,16.7,...,0.25641,1.64103,2.67949,None,None,None,None,0,None,None

In [104]:
first_concat.player_height.fillna(0,inplace=True)
first_concat.player_weight.fillna(0,inplace=True)

In [105]:
first_concat.player_weight=first_concat.player_weight.astype(float)

In [106]:
first_concat.player_height=first_concat.player_height.astype(float)

In [107]:
df=first_concat

In [108]:
df.head()

,index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,BPG,TPG,FPG,player_height,player_weight,college,country,draft_year,draft_round,draft_number
0,5727,1980,Kareem Abdul-Jabbar,C,32.0,LAL,82,NaN,3143,25.3,...,3.41463,3.62195,2.63415,0.0,0.0,None,None,0,None,None
1,5728,1980,Tom Abernethy,PF,25.0,GSW,67,NaN,1222,11,...,0.179104,0.58209,1.76119,0.0,0.0,None,None,0,None,None
2,5729,1980,Alvan Adams,C,25.0,PHO,75,NaN,2168,19.2,...,0.733333,2.90667,3.16,0.0,0.0,None,None,0,None,None
3,5730,1980,Tiny Archibald,PG,31.0,BOS,80,80,2864,15.3,...,0.125,3.025,2.725,0.0,0.0,None,None,0,None,None
4,5731,1980,Dennis Awtrey,C,31.0,CHI,26,NaN,560,7.4,...,0.576923,1.03846,2.53846,0.0,0.0,None,None,0,None,None

In [109]:
for i in range(len(first_concat)):
    if df.college[i]==None and df.Player[i] in player_college_dict.keys():
        df.college[i]=player_college_dict[df.Player[i]]

In [110]:
dict_lst

['player_height_dict',
 'player_weight_dict',
 'player_college_dict',
 'player_draft_year_dict',
 'player_draft_pick_dict',
 'player_draft_round_dict',
 'player_country_dict']

In [111]:
for i in range(len(first_concat)):
    if df.draft_year[i]==0 and df.Player[i] in player_draft_year_dict.keys():
        df.draft_year[i]=player_draft_year_dict[df.Player[i]]
    else:
        df.draft_year=0

In [112]:
for i in range(len(first_concat)):
    if df.draft_number[i]==None and df.Player[i] in player_draft_pick_dict.keys():
        df.draft_number[i]=player_draft_pick_dict[df.Player[i]]
    else:
        df.draft_number=0

In [113]:
for i in range(len(first_concat)):
    if df.draft_round[i]==None and df.Player[i] in player_draft_round_dict.keys():
        df.draft_round[i]=player_draft_round_dict[df.Player[i]]
    else:
        draft_round=0

In [114]:
for i in range(len(first_concat)):
    if df.country[i]==None and df.Player[i] in player_country_dict.keys():
        df.country[i]=player_country_dict[df.Player[i]]

In [115]:
df.head()

,index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,BPG,TPG,FPG,player_height,player_weight,college,country,draft_year,draft_round,draft_number
0,5727,1980,Kareem Abdul-Jabbar,C,32.0,LAL,82,NaN,3143,25.3,...,3.41463,3.62195,2.63415,0.0,0.0,None,None,0,None,0
1,5728,1980,Tom Abernethy,PF,25.0,GSW,67,NaN,1222,11,...,0.179104,0.58209,1.76119,0.0,0.0,None,None,0,None,0
2,5729,1980,Alvan Adams,C,25.0,PHO,75,NaN,2168,19.2,...,0.733333,2.90667,3.16,0.0,0.0,None,None,0,None,0
3,5730,1980,Tiny Archibald,PG,31.0,BOS,80,80,2864,15.3,...,0.125,3.025,2.725,0.0,0.0,None,None,0,None,0
4,5731,1980,Dennis Awtrey,C,31.0,CHI,26,NaN,560,7.4,...,0.576923,1.03846,2.53846,0.0,0.0,None,None,0,None,0

In [116]:
df.iloc[:,0:20]

,index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%
0,5727,1980,Kareem Abdul-Jabbar,C,32.0,LAL,82,NaN,3143,25.3,0.639,0.001,0.344,7.2,22.2,15.4,16.5,1.2,4.6,15.7
1,5728,1980,Tom Abernethy,PF,25.0,GSW,67,NaN,1222,11,0.511,0.003,0.258,5.4,12,8.6,9.3,1.4,0.6,9.9
2,5729,1980,Alvan Adams,C,25.0,PHO,75,NaN,2168,19.2,0.571,0.002,0.27,8.2,22.4,15.4,21.6,2.3,1.4,18.2
3,5730,1980,Tiny Archibald,PG,31.0,BOS,80,80,2864,15.3,0.574,0.023,0.548,2.3,5.3,3.8,30.2,1.7,0.2,19.7
4,5731,1980,Dennis Awtrey,C,31.0,CHI,26,NaN,560,7.4,0.524,0,0.833,6,16.9,11.5,9,1,1.5,24.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20506,11140,2020,Maxi Kleber,None,28.0,DAL,None,None,None,None,None,None,None,None,None,None,None,None,None,None
20507,11141,2020,Melvin Frazier Jr.,None,23.0,ORL,None,None,None,None,None,None,None,None,None,None,None,None,None,None
20508,11142,2020,Meyers Leonard,None,28.0,MIA,None,None,None,None,None,None,None,None,None,None,None,None,None,None
20509,11143,2020,Norvel Pelle,None,27.0,PHI,None,None,None,None,None,None,None,None,None,None,None,None,None,None
20510,11144,2020,Matt Thomas,None,25.0,TOR,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [117]:
df.iloc[:,20:40]

,USG%,blanl,OWS,DWS,WS,WS/48,blank2,OBPM,DBPM,BPM,VORP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%
0,24.1,NaN,9.5,5.3,14.8,0.227,NaN,4,2.7,6.7,6.8,835,1383,0.604,0,1,0,835,1382,0.604
1,13.3,NaN,1.2,0.8,2,0.08,NaN,-1.5,-0.1,-1.6,0.1,153,318,0.481,0,1,0,153,317,0.483
2,21.9,NaN,3.1,3.9,7,0.155,NaN,1.6,2.8,4.4,3.5,465,875,0.531,0,2,0,465,873,0.533
3,17,NaN,5.9,2.9,8.9,0.148,NaN,1.1,-1.1,0,1.5,383,794,0.482,4,18,0.222,379,776,0.488
4,7.9,NaN,0.1,0.5,0.6,0.053,NaN,-2.9,1.5,-1.4,0.1,27,60,0.45,0,0,NaN,27,60,0.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20506,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
20507,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
20508,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
20509,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
20510,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [118]:
df.iloc[:,40:60]

,eFG%,FT,FTA,FT%,ORB,DRB,PPG,RPG,APG,SPG,BPG,TPG,FPG,player_height,player_weight,college,country,draft_year,draft_round,draft_number
0,0.604,364,476,0.765,190,696,24.8049,10.8049,4.52439,0.987805,3.41463,3.62195,2.63415,0.00,0.000000,None,None,0,None,0
1,0.481,56,82,0.683,62,129,5.40299,2.85075,1.29851,0.522388,0.179104,0.58209,1.76119,0.00,0.000000,None,None,0,None,0
2,0.531,188,236,0.797,158,451,14.9067,8.12,4.29333,1.44,0.733333,2.90667,3.16,0.00,0.000000,None,None,0,None,0
3,0.485,361,435,0.83,59,138,14.1375,2.4625,8.3875,1.325,0.125,3.025,2.725,0.00,0.000000,None,None,0,None,0
4,0.45,32,50,0.64,29,86,3.30769,4.42308,1.53846,0.461538,0.576923,1.03846,2.53846,0.00,0.000000,None,None,0,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20506,None,None,None,None,None,None,None,None,None,None,None,None,None,208.28,108.862080,None,Germany,Undrafted,Undrafted,0
20507,None,None,None,None,None,None,None,None,None,None,None,None,None,195.58,97.522280,Tulane,USA,2018,2,0
20508,None,None,None,None,None,None,None,None,None,None,None,None,None,213.36,117.933920,Illinois,USA,2012,1,0
20509,None,None,None,None,None,None,None,None,None,None,None,None,None,208.28,104.779752,None,USA,Undrafted,Undrafted,0
20510,None,None,None,None,None,None,None,None,None,None,None,None,None,193.04,86.182480,Iowa State,USA,Undrafted,Undrafted,0

# Save notebook so far

In [119]:
import dill

In [120]:
dill.dump_session('nba_1')

In [121]:
dill.load_session('nba_1')

In [122]:
df.head()

,index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,BPG,TPG,FPG,player_height,player_weight,college,country,draft_year,draft_round,draft_number
0,5727,1980,Kareem Abdul-Jabbar,C,32.0,LAL,82,NaN,3143,25.3,...,3.41463,3.62195,2.63415,0.0,0.0,None,None,0,None,0
1,5728,1980,Tom Abernethy,PF,25.0,GSW,67,NaN,1222,11,...,0.179104,0.58209,1.76119,0.0,0.0,None,None,0,None,0
2,5729,1980,Alvan Adams,C,25.0,PHO,75,NaN,2168,19.2,...,0.733333,2.90667,3.16,0.0,0.0,None,None,0,None,0
3,5730,1980,Tiny Archibald,PG,31.0,BOS,80,80,2864,15.3,...,0.125,3.025,2.725,0.0,0.0,None,None,0,None,0
4,5731,1980,Dennis Awtrey,C,31.0,CHI,26,NaN,560,7.4,...,0.576923,1.03846,2.53846,0.0,0.0,None,None,0,None,0

In [123]:
df.columns

Index(['index', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'blank2', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P',
       '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'PPG', 'RPG',
       'APG', 'SPG', 'BPG', 'TPG', 'FPG', 'player_height', 'player_weight',
       'college', 'country', 'draft_year', 'draft_round', 'draft_number'],
      dtype='object')

In [124]:
df.drop('blank2',axis=1,inplace=True)

In [125]:
df4.head()

,player_id,name_common,year_id,age,pos,team_id,tmRtg,franch_id,G,Min,...,BLK%,ORtg,%Pos,DRtg,2P%,3P%,FT%,3PAr,FTAr,PPG
0,youngtr01,Trae Young,2020,21,PG,ATL,-7.6,ATL,60,2120,...,0.3,113.6,36.1,117.2,50.1,36.1,86.0,45.5,44.8,29.0
1,huntede01,De'Andre Hunter,2020,22,SF,ATL,-7.6,ATL,63,2018,...,0.7,99.5,16.9,117.3,45.4,35.5,76.4,44.5,21.1,15.0
2,huertke01,Kevin Huerter,2020,21,SG,ATL,-7.6,ATL,56,1760,...,1.3,107.1,17.2,116.5,45.3,38.0,82.8,54.8,10.5,15.0
3,reddica01,Cam Reddish,2020,20,SF,ATL,-7.6,ATL,58,1551,...,1.5,94.7,18.3,115.0,42.8,33.2,80.2,45.1,22.7,18.0
4,collijo01,John Collins,2020,22,PF,ATL,-7.6,ATL,41,1363,...,4.1,123.7,21.6,112.2,64.2,40.1,80.0,24.3,24.8,24.0

In [126]:
df4.drop('player_id',axis=1,inplace=True)

In [127]:
df.columns

Index(['index', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'PPG', 'RPG', 'APG',
       'SPG', 'BPG', 'TPG', 'FPG', 'player_height', 'player_weight', 'college',
       'country', 'draft_year', 'draft_round', 'draft_number'],
      dtype='object')

In [128]:
df4.columns

Index(['name_common', 'year_id', 'age', 'pos', 'team_id', 'tmRtg', 'franch_id',
       'G', 'Min', 'MP%', 'MPG', 'P/36', 'TS%', 'A/36', 'R/36', 'SB/36',
       'TO/36', 'Raptor O', 'Raptor D', 'Raptor+/-', 'Raptor WAR', 'PIE%',
       'AWS%', 'USG%', 'AST%', 'TOV%', 'ORB%', 'DRB%', 'TRB%', 'STL%', 'BLK%',
       'ORtg', '%Pos', 'DRtg', '2P%', '3P%', 'FT%', '3PAr', 'FTAr', 'PPG'],
      dtype='object')

In [129]:
df4.drop(['G','Min','franch_id','age','pos','MPG','PPG','2P%', '3P%','FT%','TRB%', 'STL%', 'BLK%',
         'AST%','USG%'],axis=1,inplace=True)

In [130]:
df4.columns

Index(['name_common', 'year_id', 'team_id', 'tmRtg', 'MP%', 'P/36', 'TS%',
       'A/36', 'R/36', 'SB/36', 'TO/36', 'Raptor O', 'Raptor D', 'Raptor+/-',
       'Raptor WAR', 'PIE%', 'AWS%', 'TOV%', 'ORB%', 'DRB%', 'ORtg', '%Pos',
       'DRtg', '3PAr', 'FTAr'],
      dtype='object')

In [131]:
df.columns

Index(['index', 'Year', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'PER',
       'TS%', '3PAr', 'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%',
       'TOV%', 'USG%', 'blanl', 'OWS', 'DWS', 'WS', 'WS/48', 'OBPM', 'DBPM',
       'BPM', 'VORP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA',
       '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'PPG', 'RPG', 'APG',
       'SPG', 'BPG', 'TPG', 'FPG', 'player_height', 'player_weight', 'college',
       'country', 'draft_year', 'draft_round', 'draft_number'],
      dtype='object')

In [132]:
df.reset_index(inplace=True)

In [133]:
df.drop(['level_0', 'index'],axis=1,inplace=True)

In [134]:
df4.rename(columns={'name_common':'Player','team_id':'Tm','year_id':'Year'},inplace=True)

In [135]:
dill.dump_session('nba_2')

In [136]:
dill.load_session('nba_2')

In [137]:
df4.columns

Index(['Player', 'Year', 'Tm', 'tmRtg', 'MP%', 'P/36', 'TS%', 'A/36', 'R/36',
       'SB/36', 'TO/36', 'Raptor O', 'Raptor D', 'Raptor+/-', 'Raptor WAR',
       'PIE%', 'AWS%', 'TOV%', 'ORB%', 'DRB%', 'ORtg', '%Pos', 'DRtg', '3PAr',
       'FTAr'],
      dtype='object')

In [138]:
df=pd.merge(df, df4,  how='left', left_on=['Player','Year'], right_on = ['Player','Year'])

In [139]:
df.head()

,Year,Player,Pos,Age,Tm_x,G,GS,MP,PER,TS%_x,...,PIE%,AWS%,TOV%_y,ORB%_y,DRB%_y,ORtg,%Pos,DRtg,3PAr_y,FTAr
0,1980,Kareem Abdul-Jabbar,C,32.0,LAL,82,NaN,3143,25.3,0.639,...,17.8,19.1,15.7,7.2,22.2,117.8,23.6,100.0,0.1,34.4
1,1980,Tom Abernethy,PF,25.0,GSW,67,NaN,1222,11,0.511,...,7.0,7.8,9.9,5.4,12.0,109.0,13.2,108.1,0.3,25.8
2,1980,Alvan Adams,C,25.0,PHO,75,NaN,2168,19.2,0.571,...,14.9,15.3,18.2,8.2,22.4,107.2,22.5,99.0,0.2,27.0
3,1980,Tiny Archibald,PG,31.0,BOS,80,80,2864,15.3,0.574,...,11.3,11.6,19.7,2.3,5.3,114.9,18.7,105.4,2.3,54.8
4,1980,Dennis Awtrey,C,31.0,CHI,26,NaN,560,7.4,0.524,...,5.1,5.3,24.8,6.0,16.9,101.6,8.9,106.9,0.0,83.3

In [140]:
df.to_csv('combine_nba_data.csv')